* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(244,245,248);
    font-family: "Avenir Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@font-face {
    font-family: 'Avenir Medium';
    src: url('../fonts/Avenir-Medium.ttf');
    font-weight: 200;
    font-style: normal;
}
a {
    text-decoration: none;
}
.thin-font-weight {
    font-weight: 100;
}
.hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    width: 19rem;
    background-color: rgb(255,255,255);
    height: 100%;
    top: 0;
    left: -19rem;
    transition: left 0.5s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    /*box-shadow: 0 0 0 99999px rgb(0 0 0 / 18%);*/
}
.show-hidden-menu {
    left: 0;
    box-shadow: 0 0 0 100vmax rgb(0 0 0 / 30%);
}
.menu-button {
    cursor: pointer;
}
.hidden-menu > h2 {
    font-size: 1.25rem;
    color: rgb(81,81,81);
    margin: 1rem 0 1.5rem 1rem;
}
.hidden-menu > li {
    display: flex;
    padding: 1rem 0 1.1rem 1rem;
    font-family: Avenir-Heavy;
    text-decoration: none;
}
.hidden-menu > li:hover {
    background: rgb(245,245,245);
    cursor: pointer;
}
.hidden-menu > li > svg {
    width: 15px;
    margin-right: 1rem;
}
.hidden-menu > li:first-child {
    margin: 2rem 1.125rem;
}
.hidden-menu > li:last-child {
    margin-top: 1rem;
}
.hidden-menu > li > a {
    color: black;
}
.hidden-menu-ticker {
    display: none;
}
.btn-menu {
    color: #fff;
    background-color: rgb(0,71,204);
    padding: 7px;
    position: absolute;
    left: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.header {
    width: 100%;
    height: 3em;
    background: rgb(0,71,204);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em 0;
}
.authorized {
    justify-content: space-between;
}
.authorized > div {
    margin: 0 0.5rem;
}
.extra-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    background: rgb(255,255,255);
    padding: 0.5em 0;
}
.extra-navigation > a > div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0 2.7em;
    font-size: 0.875em;
    color: rgb(133, 136, 143);
}
.link:hover {
    color: rgb(0,71,204);
    cursor: pointer;
}
.extra-navigation > a > .current {
    color: rgb(0,71,204);
}
svg {
    display: inline-block;
    fill: none;
    stroke: currentcolor;
    stroke-width: 32px;
    margin: 0px 0.2rem 0px 0px;
    width: 1.2rem;
}
.svg-burger {
    width: 2rem;
    fill: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
    stroke-width: 0px;
}
.svg-notify {
    stroke: rgb(255, 255, 255);
    stroke-width: 12px;
    fill: rgb(255, 255, 255);
    width: 1rem;
}
.svg-qr {
    fill: currentColor;
    stroke-width: 12px;
}
.logo {
    color: rgb(242,246,252);
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
}
.container {
    width: 560px;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(255,255,255);
    color: black;
    padding: 0.5em 1.5em 0.7em 1.5em;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}
.container > h2 {
    font-size: 1.2em;
    text-align: center;
    color: rgb(115, 115, 115);
    font-weight: 500;
    margin: 1em 0;
}
.container > h4 {
    font-size: 1rem;
    text-align: center;
    color: rgb(123,123,123);
    font-weight: 500;
    margin: 0.5em 0;
}
.container > h1 {
    font-size: 1.5rem;
    font-weight: 100;
}
.container > h4.big-text{
    font-size: 1.25rem;
}
.big-button {
    margin: 2em 0 0 0;
    --padding-top: 20px;
    --padding-bottom: 20px;
    text-transform: capitalize;
    font-weight: 200;
    background: rgb(0,71,204);
    color: rgb(256, 256, 256);
    text-align: center;
    padding: 0.4em;
    border-radius: 4px;
    -webkit-box-shadow: 0px 9px 7px -6px rgba(0,0,0,0.25);
    box-shadow: 0px 9px 7px -6px rgba(0,0,0,0.25);
    letter-spacing: 1.08px;
    font-size: 1.125em;
}
.big-button > input {
    display: none;
    cursor: pointer;
}
.big-button > label{
    cursor: pointer;
}
.big-button:hover {
    background: rgb(20,85,208);
    cursor: pointer;
}
.more-function-block {
    text-align: center;
    margin-top: 1em;
    font-size: 0.875em;
}
.more-function-block > a {
    color: rgb(0,71,204);
}
.input-box {
    border-bottom: 1px solid rgb(222,222,222);
    margin: 1em 0 0 0;
}
input {
    width: 100%;
    padding-bottom: 0.6em;
    margin: 8px 0;
    border: none;
    outline:none;
}
input::-webkit-input-placeholder {
    color: rgb(179,179,179);
}
.selling-block {
    margin: 10px 0px;
    padding: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 20px;
    border-radius: 12px;
    cursor: pointer;
    color: rgb(0,71,204);
}
.selling-block > .coin {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.selling-block > .coin > img {
    height: 40px;
    width: 30px;
    margin-right: 16px;
}
.news-block {
    background: rgb(40,186,98);
}
.news-block > p {
    font-size: 0.875em;
    line-height: 1.5;
    letter-spacing: normal;
}
.flex-row-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.flex-column-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.flex-fow-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.transactions-block {
    margin: 1rem 3rem 0 3rem;
}
.transactions-block > .flex-column-center > h4 {
    font-size: 1.125rem;
    font-weight: 100;
    color: #222428;
}
.transactions-block > .flex-column-center > div {
    margin: 0.3rem 0 2rem 0;
    color: #737373;
}
.wallet {
    background: rgb(223, 231, 245);
    text-align: center;
}
.flex-wallet-center {
    justify-content: center;
}
.wallet > h4 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.wallet > h5 {
    font-size: 1.5rem;
    font-weight: 100;
    color: green;
}
.wallet > h6 {
    font-size: 0.875rem;
    color: #737373;
    font-weight: 100;
}
.wallet-button {
    margin: 1rem 1rem 1.5rem 1rem;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border: 2px solid #0047cc;
    padding: 0.3rem 2rem;
    color: #0047cc;
    font-size: 0.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wallet-button > svg {
    display: inline-block;
    width: 1rem;
}
.wallet-button:hover {
    cursor: pointer;
    background: rgb(223,231,245);
}
.svg-transfer {
    fill: #0047cc;
    stroke-width: 1px;
}
.coins-block {
    border: 0 solid #e2e8f0;
    margin-top: 1rem;
    border-radius: 0;
    padding-bottom: 0;
    padding-right: 0;
}
.coin-img {
    height: 40px;
    width: 40px;
    margin-right: 16px;
}
.coin-text {
    font-size: 1rem;
    color: #0047cc;
    border-bottom: 1px solid rgb(222,222,222);
    padding-top: 0.3rem;
}
.coin-padding-text {
    padding: 0 1rem 0.7rem 0;
}
.svg-coin-info {
    stroke: rgb(192,192,192);
}
.bank-title {
    font-size: 1.25rem;
}
.small-grey-text {
    font-size: 0.875rem;
    color: #737373;
    margin-top: 0.5rem;
}
.white-button {
    font-size: 0.875rem;
    font-weight: 100;
    border: 2px solid rgb(0,71,204);
    background: none;
    color: rgb(0,71,204);
    box-shadow: none;
    margin: 0.4rem 0 0.5rem 0;
}
.white-button:hover {
    background: rgb(245,248,253);
    cursor: pointer;
}
.contact-box {
    margin-top: 0.7rem;
}
.contact-block {
    display: flex;
    padding: 0.7rem;
}
.contact-block > svg {
    fill: #737373;
    stroke: currentcolor;
    stroke-width: 0px;
}
.contact-block > p {
    margin-left: 0.5rem;
}
.margin-top-none {
    margin-top: 0;
}
.profile-input-box {
    display: flex;
    flex-direction: column;
}
.profile-input-box > p {
    display: inline-block;
    font-size: 0.8rem;
    color: rgb(166,168,174);
}
.profile-input {
    margin: 4px 0 0 0;
    font-size: 0.9rem;
}
.profile-button {
    margin-top: 3rem;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 0.3rem 0;
}
.profile-button-box {
    padding: 0 3rem 0 3rem;
}
.profile-change-pass {
    margin: 1.5rem 0;
    font-size: 0.875rem;
    color: rgb(0,71,204);
    text-align: center;
    padding: 0 3rem;
}
.text-margin {
    margin: 1.5rem 0 0.5rem 0;
}
table {
    border-collapse: collapse;
    color: rgb(123,123,123);
    margin-top: 1rem;
}
caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
th {
    border-bottom: 1px solid #dedede;
    padding: 10px;
    text-align: left;
}
td {
    font-size: 0.8rem;
    padding: 10px;
    overflow:hidden;
    white-space:nowrap;
}
tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: #dfe7f4;
}
.add-new-bank-block {
    display: none;
    height: 70%;
    width: 20em;
    background: rgb(255,255,255);
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 999;
    padding: 0.7rem 1rem 2rem 1rem;
    -webkit-box-shadow: 0px 16px 24px 1px rgba(0,0,0,0.53);
    box-shadow: 0px 16px 24px 1px rgba(0,0,0,0.53);
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}
.show-add-new-bank-block {
    display: block;
}
.add-new-bank-block > h3 {
    margin-bottom: 2rem;
}
.block-shadow {
    box-shadow: 0 0 0 100vmax rgb(0 0 0 / 30%);
}
.close-button {
    margin-top: 0.9rem;
    text-align: center;
    font-size: 0.85rem;
    color: rgb(0,71,204);
    padding: 0.4rem;
}
.close-button:hover {
    background: rgb(245,245,245);
    cursor: pointer;
}
.margin-top {
    margin-top: 1.5rem;
}
.detail-coin-box {
    text-align: center;
    color: rgb(123,123,123);
}
.detail-coin-box > h3 {
    color: black;
}
.block-button {
    pointer-events: none;
}

.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
  margin-top: 5px;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
  width: 100%;
}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.detail-modal-block {
    display: none;
    height: 31rem;
    width: 20em;
    background: rgb(255,255,255);
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 999;
    padding: 0.7rem 1rem 2rem 1rem;
    -webkit-box-shadow: 0px 16px 24px 1px rgba(0,0,0,0.53);
    box-shadow: 0px 16px 24px 1px rgba(0,0,0,0.53);
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}
.detail-modal-block > h3 {
    text-align: center;
    margin-top: 1rem;
}
.show-modal-block {
    display: block;
}
.hide-block {
    display: none;
}
.show-modal-block > h3 {
    margin-bottom: 2rem;
}
.dropdown {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    text-align: left;
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px;
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px;
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204);
}
.dropdown:active {
    background-color: #f8f8f8;
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 4px;
}
.dropdown.active .select > i {
    transform: rotate(-90deg);
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9;
}
.dropdown .dropdown-menu li {
    display: flex;
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.dropdown .dropdown-menu li img {
    height: 20px;
    width: 20px;
    margin-right: 16px;
}
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none;
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2;
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2;
}
.selected-item li {
    display: flex;
    list-style-type: none;
}
.selected-item img {
    height: 20px;
    width: 20px;
    margin-right: 16px;
}
.rate {
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;
    margin-top: 3rem;
}
.rate:before,
.rate:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #dbdbdb;
}
.rate:before {
    left: -10px;
    margin-left: -50%;
}
.rate:after {
    left: 10px;
    margin-right: -50%;
}
.flex {
    display: flex;
}
.non-active-item {
    opacity: 0.4;
}