<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoinMoment - Exchange BTC ETH and USDT at Best Rates</title>
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <link rel="stylesheet" href="../static/styles/main.css">
    <script src="../static/js/welcome.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
    <div class="welcome-page">
        <div class="main-navigation">
            <div>
                <a href="welcome.html" class="main-link">CoinMoment</a>
            </div>
            <div>
                <a href="login" class="login-button">Login</a>
                <a href="register" class="register-button">Sign Up</a>
            </div>
        </div>

        <div class="about">
            <div>
                <div>
                    <h1>Sell your <span class="blue-text">Bitcoins</span> with velocity</h1>
                </div>
                <div>
                    <p class="about-text">CoinMoment is the easiest and most trusted place to sell your digital currency.</p>
                </div>
                <div class="get-started-block">
                    <div class="indent">
                        <a href="" class="get-started-button">Get Started</a>
                    </div>
                    <div>
                        <a href=""><img src="{% static '/img/get-it-on-google.png' %}" alt="" class="get-started-android-img"></a>
                    </div>
                </div>
            </div>
            <div>
                <img src="{% static '/img/phone.svg' %}" alt="mobile" class="phone-img">
            </div>
        </div>

        <div class="features">
            <div class="title">
                <h3>FEATURES</h3>
            </div>
            <div class="description">
                <div>
                    <img src="{% static '/img/reliable-icon.svg' %}" alt="" class="features-img">
                    <h3>Best Prices</h3>
                    <p>We buy Bitcoins at the very best market prices because we wanna make you(our customer) rich</p>
                </div>
                <div>
                    <img src="{% static '/img/support-icon.svg' %}" alt="" class="features-img">
                    <h3>24/7 Support</h3>
                    <p>Yes! we are Humans lols & we are waiting for you on Whatsapp 24/7 if you need assistance? [Chat us on 08130015202]</p>
                </div>
                <div>
                    <img src="{% static '/img/fast-icon.svg' %}" alt="" class="features-img">
                    <h3>Fastest Transactions</h3>
                    <p>We got Velocity in our DNA. You will testify on 1st trial or walk away!</p>
                </div>
            </div>
        </div>

        <div class="steps">
            <div>
                <img src="{% static '/img/hero-screenshot.png' %}" alt="">
            </div>
            <div class="description">
                <h6>STEPS</h6>
                <h3>Easy to <span>Get Started.</span></h3>
                <div class="steps-info-block">
                    <div class="info-number">01</div>
                    <div class="info-box">
                        <div class="info-title">Register</div>
                        <div class="info-description">Create an account with us using your email/username</div>
                    </div>
                </div>
                <div class="steps-info-block">
                    <div class="info-number">02</div>
                    <div class="info-box">
                        <div class="info-title">Sell</div>
                        <div class="info-description">Sell your preffered digital currency</div>
                    </div>
                </div>
                <div class="steps-info-block">
                    <div class="info-number">03</div>
                    <div class="info-box">
                        <div class="info-title">Get Paid</div>
                        <div class="info-description">Get paid!</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="faqs">
            <h3>FAQS</h3>
            <h2>Any <span>Questions ?</span></h2>
            <h4>Here are answers to some of our top asked questions.</h4>
            <div class="answers-block">
                <div class="answer">
                    <dt>
                        <span>Welcome</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-chevron-down">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </dt>
                    <dd>
                        <div>Warm welcome to Jackocoins</div>
                    </dd>
                </div>
                <div class="answer">
                    <dt>
                        <span>Welcome</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-chevron-down">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </dt>
                    <dd>
                        <div>Warm welcome to Jackocoins</div>
                    </dd>
                </div>
                <div class="answer">
                    <dt>
                        <span>Welcome</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-chevron-down">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </dt>
                    <dd>
                        <div>Warm welcome to Jackocoins</div>
                    </dd>
                </div>
                <div class="answer">
                    <dt>
                        <span>Welcome</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-chevron-down">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </dt>
                    <dd>
                        <div>Warm welcome to Jackocoins</div>
                    </dd>
                </div>
                <div class="answer">
                    <dt>
                        <span>Welcome</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-chevron-down">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </dt>
                    <dd>
                        <div>Warm welcome to Jackocoins</div>
                    </dd>
                </div>
                <div class="answer">
                    <dt>
                        <span>Welcome</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-chevron-down">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </dt>
                    <dd>
                        <div>Warm welcome to Jackocoins</div>
                    </dd>
                </div>
                <div class="answer">
                    <dt>
                        <span>Welcome</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-chevron-down">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </dt>
                    <dd>
                        <div>Warm welcome to Jackocoins</div>
                    </dd>
                </div>
                <div class="answer">
                    <dt>
                        <span>Welcome</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-chevron-down">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </dt>
                    <dd>
                        <div>Warm welcome to Jackocoins</div>
                    </dd>
                </div>
                <div class="answer">
                    <dt>
                        <span>Welcome</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-chevron-down">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </dt>
                    <dd>
                        <div>Warm welcome to Jackocoins</div>
                    </dd>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="content">
            <h3>CoinMoment</h3>
            <div class="links">
                <a href="">Privacy Policy</a>
                <a href="">Terms and Conditions</a>
                <a href="">Buy Section</a>
                <a href="">Help Center</a>
                <a href="">Contact Us</a>
                <a href="">Terms of Use</a>
            </div>
            <div class="icons">
                <a href=""><img src="{% static '/img/facebook.png' %}" alt=""></a>
                <a href=""><img src="{% static '/img/twitter.png' %}" alt=""></a>
            </div>
            <div class="copy">
                © Copyright 2021, CoinMoment. All Rights Reserved.
            </div>
        </div>
    </div>
</body>
</html>